/* footer stylesheet */

/* you will probably need to style the hyperlinks, so something like footer a would work */

footer {
    background: #013148;
    padding: 2rem 1rem 4rem 1rem;
    margin-top: 5rem;

}

@media screen and (min-width:600px) {
    footer {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 1rem;
    }
}

footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer p {
    margin: 0;
    padding: 0;
    text-align: center;
}

footer .column {
    flex: 1;
    margin-top: 1rem;

}

@media screen and (min-width:600px) {
    footer .column {
        max-width: 25%;
    }
}